/docs/
/lib/
/bin/
/src/ext/
/.shards/
*.dwarf

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

# Example build artifacts
/simple

*.a
*.o
*.so
*.dylib
*.dll
*.exe
*.pdb
*.lib
*.exp